/* **********     Reset CSS     ********** */

:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    /*Al navegar entre las secciones se vea una pequeña transicion*/
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}


/* **********     menu-hamburguesa     ********** */

.header {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
}

.header h1 {
    margin: 0 auto;
    text-align: center;
}

.section {
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    /*Ocupe el 100% de la pantalla*/
    min-height: 100vh;
    text-align: center;
}

.panel {
    position: fixed;
    /*Que este encima de todo menos del boton*/
    z-index: 998;
    width: 100%;
    /*Estirar todos los elem al limite del margen de cada lado (hasta arriba, abajo derecha e izquierda) 
    abarcando el 100% de la pantalla*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--second-modal-color);
    opacity: 0;
    /*Para eliminar la interactividad ya que al pasar por encima aparece el pointer de los enlaces*/
    visibility: hidden;
    transition: transform 0.3s ease, opacity 1s ease;
    /* De arriba */
    transform: translate(0, -100%);
    /* De abajo */
    /*transform: translate(0, 100%);
    /* De la derecha */
    /*transform: translate(100%, 0);
    /* De la izquierda */
    /*transform: translate(-100%, 0);*/
    /*Poder hacer scroll en el menu*/
    overflow-y: auto;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
}


/*Se agrega una clase para que aparezca el panel*/

.panel.is-active {
    transform: translate(0, 0);
    opacity: 1;
    /*Mostrar el panel ya que esta en hiddden */
    visibility: visible;
}

.panel-btn {
    position: fixed;
    /*z-index alto para mandar hasta enfrente (por encima de los demas elementos)*/
    z-index: 999;
    /*colocarlo hasta abajo de la pantalla*/
    bottom: 1vh;
    /*Colocarlo hasta la derecha de la pantalla*/
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    /*Para que se centren los spans*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    outline: 0;
    border: 0;
}


/*Boton del scroll*/

.scroll-btn {
    position: fixed;
    /*z-index alto para mandar hasta enfrente (por encima de los demas elementos)*/
    z-index: 999;
    /*colocarlo hasta abajo de la pantalla*/
    bottom: 1vh;
    /*Colocarlo hasta la derecha de la pantalla*/
    right: 6vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.3s ease;
    background-color: var(--main-color);
    right: 6vw;
}

.mostrarBtnScroll {
    opacity: 1;
    transform: translateY(0px);
}

.scroll-btn:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}


/*Boton del dark mode*/

.dark-theme-btn {
    position: fixed;
    /*z-index alto para mandar hasta enfrente (por encima de los demas elementos)*/
    z-index: 999;
    /*colocarlo hasta abajo de la pantalla*/
    bottom: 1vh;
    /*Colocarlo hasta la izquierda de la pantalla*/
    left: 1vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: var(--main-color);
    font-size: 2rem;
}

.menu {
    /*Hereda el width del panel*/
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover {
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}


/*Seccion 2*/

.contenedorSeccion2 {
    background-color: var(--second-color);
    width: 100%;
    height: 20rem;
    z-index: 997;
    display: flex;
}

.circulo {
    margin: auto;
    width: 5rem;
    height: 5rem;
    background-color: var(--main-color);
    border-radius: 50%;
    display: inline-block;
    z-index: 998;
}


/*Dark mode*/

.dark-mode {
    background-color: var(--second-color);
    color: var(--main-color);
}


/*Mapa (No funciono)*/

.mapa {
    height: 100%;
}


/*Responsive Tester (Seccion 5)*/

.seccionResponsiveTest {
    text-align: center;
    margin: auto;
}

.seccionResponsiveTest input[type="text"] {
    margin: 0.5rem;
}


/* **********     Network Status     ********** */

.online,
.offline {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #1b5e20;
    color: #fff;
}

.offline {
    background-color: #b71c1c;
}


/* Search Filters */

.cards {
    display: grid;
    /* con esto se puede hacer responsive design sin mq (con funcion minmax) */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background-color: var(--second-color);
    color: var(--main-color);
    transition: all 0.3s ease-out;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-figaction {
    padding: 1rem;
}


/* Discriminar las figures al hacer la busqueda (ocultarlos) */

.filter {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    order: 1;
}


/* **********     Responsive Slider     ********** */

.slider {
    position: relative;
    width: 80%;
    margin: 1rem auto;
    /* border: thin solid black; */
    text-align: center;
}

.slider-slides {
    position: relative;
    height: 400px;
}


/* Colocar una Imagen encima de la otra (ocultarlas) */

.slider-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.slider-slide img {
    height: inherit;
    width: inherit;
    /* Para que la imagen no se deforme y cubra toda la imagen */
    object-fit: cover;
    /* Para mover la imagen (x,y) */
    object-position: 50% 50%;
}


/* Clase para mostrar la imagen activa */

.slider-slide.active {
    opacity: 1;
    visibility: visible;
}

.slider-btns {
    position: absolute;
    /* Se agrega el width para que funcione el space-between */
    width: 100%;
    top: calc(50% - 2rem);
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: bold;
}

.slider a {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: thin solid #000;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}

.slider a:hover {
    color: #4d4d4d;
}


/***********     ScrollSpy     ***********/

@media screen and (min-width: 1024px) {
    /* Nuevo maquetado con Grid */
    body {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem auto;
        grid-template-areas: "header header" "main panel";
    }
    main {
        grid-area: main;
    }
    .header {
        grid-area: header;
    }
    .panel {
        grid-area: panel;
        align-self: start;
        position: sticky;
        top: 4rem;
        justify-content: flex-start;
        background-color: var(--second-color);
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
        overflow-y: auto;
        padding-right: 1rem;
    }
    .panel-btn {
        display: none;
    }
    .menu {
        justify-content: start;
        text-align: right;
    }
    .menu a {
        padding: 0.75rem;
        font-size: 1rem;
    }
    /* Para que se vaya cambiando al hacer scroll */
    .menu a:hover,
    .menu a.active {
        color: var(--second-color);
        background-color: var(--main-color);
    }
    /* Mover el boton de scroll */
    .scroll-top-btn {
        right: initial;
        left: calc(4.25rem + 1vw);
    }
}

.contact-form {
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


/* **********     ContactForm Validations     ********** */

.contact-form>* {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}


/* Para restringir que se pueda alterar el tamaño del textarea*/

.contact-form textarea {
    resize: none;
}

.contact-form legend,
.contact-form-response {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}


/* Estandarizar el estilo de letra a los elementos del formulario */

.contact-form input,
.contact-form textarea {
    font-size: 1rem;
    font-family: sans-serif;
}

.contact-form input[type="submit"] {
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}


/* A todos los selectores que tengan la propiedad placeholder aplicarle un color de letra*/

.contact-form *::placeholder {
    color: #000;
}


/*VALIDACIONES
Todos los elementos que sean hijos va a validar que un elemento tenga required, sea valida y este dentro del formulario contacto */

.contact-form [required]:valid {
    border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
    border: thin solid var(--form-error-color);
}


/*MENSAJES DE ERROR
-1rem es para que aparezca justo pegado del input*/

.contact-form-error {
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
}


/*MOSTRAR MENSAJE DE ERROR
Se mostrara cuando se le agregue la clase active*/

.contact-form-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}


/*OCULTAR MENSAJE DE ERROR*/

.none {
    display: none;
}


/* ANIMACION */

@keyframes show-message {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}